.web_modules-Footer-index--footer--3mTrO {
  margin-top: 16px;
  margin-top: 1rem;
  padding: 16px;
  padding: 1rem;
  font-size: 12px;
  font-size: 0.75rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.web_modules-Footer-index--link--2kQfC {
  color: #08b09b;
  text-decoration: none;
}

.web_modules-Footer-index--reference--17USc {
  font-weight: 100;
}
