.web_modules-layouts-PageError-index--container--1eFDQ {
  padding: 160px 0;
  padding: 10rem 0;
  text-align: center;
}

.web_modules-layouts-PageError-index--oops--28qjV {
  margin-bottom: 96px;
  margin-bottom: 6rem;
  font-size: 64px;
  font-size: 4rem;
  color: #ddd;
}

.web_modules-layouts-PageError-index--title--3LRMe {
  margin: 64px 0;
  margin: 4rem 0;
  font-size: 32px;
  font-size: 2rem;
}
