.web_modules-Header-index--nav--34d_e {
  font-weight: 300;
  line-height: 2rem;
}

.web_modules-Header-index--separator--1rO3H {
  opacity: .2;
  margin: 0 .8rem;
}

.web_modules-Header-index--link--3o000 {
  opacity: .8;
}

  .web_modules-Header-index--link--3o000:hover,
  .web_modules-Header-index--link--3o000:focus {
    opacity: 1;
  }

.web_modules-Header-index--icon--15YSz {
  vertical-align: middle;
}

.web_modules-Header-index--version--2liSf {
  font-size: .8rem;
  font-weight: bold;
}
.web_modules-Footer-index--footer--3mTrO {
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  font-size: .75rem;

  color: #666;
}
/* GLOBAL STYLES, OMG ! */
h1,
h2,
h3 {
  font-weight: 400;
}

h1,
h2,
h3,
h5,
h6 {
  position: relative;
}

.markdownIt-Anchor {
  position: absolute;
  left: -1.5rem;
  opacity: .1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

  h1:hover .markdownIt-Anchor,
  h2:hover .markdownIt-Anchor,
  h3:hover .markdownIt-Anchor,
  h4:hover .markdownIt-Anchor,
  h5:hover .markdownIt-Anchor,
  h6:hover .markdownIt-Anchor {
    opacity: 1;
  }

a,
a:visited {
  color: #7340c4;
  text-decoration: none;
}

blockquote {
  opacity: .6;
  margin: 2rem 0;
  padding-left: 1.5rem;
  border-left: 4px solid grey;
}

pre {
  margin: 1rem 0;
  padding: 1rem;

  font-weight: 400;

  color: color(#7340c4) l(-10%));
  border: 1px solid #DDD;
  border-radius: 0.3em;
  background: color(#fafafa a(.6));
}

.hljs-comment {
  opacity: .4;
}

  .hljs-comment:hover {
    opacity: .6;
  }

.hljs-keyword {
  font-weight: bold;
}

.hljs-class,
.hljs-tag,
.hljs-keyword,
.hljs-pseudo,
.hljs-function {
  color: #7340c4;
}

/***/

.web_modules-Layout-index--wrapper--3OHT_ {
  max-width: 50rem;
  margin: auto;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
